{% import '/macro/section.html.twig' as section %}
{% extends 'base.html.twig' %}

{% block title %}New Skill Group{% endblock %}

{% block body %}
{{section.sectionstartDefault("New Skill Group")}}

    {{ include('skill_group/_form.html.twig') }}

    <a href="{{ path('app_skill_group_index') }}" class="btn btn-outline-primary">back to list</a>
    {{section.sectionend()}}
{% endblock %}
